{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "yoda": "never",
    "import/no-unresolved": 0,
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "linebreak-style": ["error", "unix"],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "semi": ["error", "never"],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ]
  }
}
