node_modules

# literally just technical notes about measurements, colors and whatnot
# that I made for my own reference while writing this site
notes

# illustrator exports
1x

# tauri stuff (ignoring for now)
src-tauri
