@use './vars' as v
@use './../animations/bgshake' as b

.filters
  +v.center

  height: 100vh
  left: 0
  overflow: hidden
  pointer-events: none
  position: fixed
  top: 0
  user-select: none
  width: 100vw
  z-index: v.$layer-overlay

  &.noise::after
    +b.bgshake(0.5s)

    content: ''
    background-image: url("./../assets/img/textures/noise.png")
    opacity: 0.55
    background-repeat: repeat
    background-size: 5rem
    background-position: center 40%
    height: 300vh
    min-width: 300vw
    display: block
