// ♪音楽 → GOJIRA - VACUITY : https://www.youtube.com/watch?v=wM8LDVIiwhA

// zen kurenaido

@font-face
  font-family: "zen kurenaido"
  src: local("Zen Kurenaido"), url("./../assets/fonts/ZenKurenaido-Regular.ttf") format('truetype'), url("./../assets/fonts/ZenKurenaido-Regular.ttf")
  font-weight: normal
  font-display: block

// red hat mono

@font-face
  font-family: "red hat mono"
  src: url("./../assets/fonts/RedHatMono-VariableFont_wght.ttf") format('truetype'), url("./../assets/fonts/RedHatMono-VariableFont_wght.ttf")
  font-style: normal
  font-display: block

@font-face
  font-family: "red hat mono"
  src: url("./../assets/fonts/RedHatMono-Italic-VariableFont_wght.ttf") format('truetype'), url("./../assets/fonts/RedHatMono-Italic-VariableFont_wght.ttf")
  font-style: italic
  font-display: block

// poppins

@font-face
  font-family: "poppins"
  src: local("Poppins"), url("./../assets/fonts/Poppins-Regular.ttf") format('truetype'), url("./../assets/fonts/Poppins-Regular.ttf")
  font-weight: normal
  font-display: block

// montserrat alternates

@font-face
  font-family: "montserrat alternates"
  src: local("Montserrat Alternates"), url("./../assets/fonts/MontserratAlternates-Regular.ttf") format('truetype'), url("./../assets/fonts/MontserratAlternates-Regular.ttf")
  font-weight: normal
  font-display: block

@font-face
  font-family: "montserrat alternates"
  src: local("Montserrat Alternates"), url("./../assets/fonts/MontserratAlternates-SemiBold.ttf") format('truetype'), url("./../assets/fonts/MontserratAlternates-SemiBold.ttf")
  font-weight: 600
  font-display: block

@font-face
  font-family: "montserrat alternates"
  src: local("Montserrat Alternates"), url("./../assets/fonts/MontserratAlternates-Light.ttf") format('truetype'), url("./../assets/fonts/MontserratAlternates-Light.ttf")
  font-weight: 300
  font-display: block

@font-face
  font-family: "montserrat alternates"
  src: local("Montserrat Alternates"), url("./../assets/fonts/MontserratAlternates-ExtraLight.ttf") format('truetype'), url("./../assets/fonts/MontserratAlternates-ExtraLight.ttf")
  font-weight: 200
  font-display: block

@font-face
  font-family: "montserrat alternates"
  src: local("Montserrat Alternates"), url("./../assets/fonts/MontserratAlternates-Thin.ttf") format('truetype'), url("./../assets/fonts/MontserratAlternates-Thin.ttf")
  font-weight: 100
  font-display: block

@font-face
  font-family: "montserrat alternates"
  src: local("Montserrat Alternates"), url("./../assets/fonts/MontserratAlternates-Medium.ttf") format('truetype'), url("./../assets/fonts/MontserratAlternates-Medium.ttf")
  font-weight: 500
  font-display: block

@font-face
  font-family: "montserrat alternates"
  src: local("Montserrat Alternates"), url("./../assets/fonts/MontserratAlternates-Italic.ttf") format('truetype'), url("./../assets/fonts/MontserratAlternates-Italic.ttf")
  font-weight: normal
  font-style: italic

// montserrat normals

@font-face
  font-family: "montserrat"
  src: local("Montserrat"), url("./../assets/fonts/Montserrat-VariableFont_wght.ttf") format('truetype'), url("./../assets/fonts/Montserrat-VariableFont_wght.ttf")
  font-style: normal
  font-display: block

// ibm plex

@font-face
  font-family: "ibm plex"
  src: local("IBM Plex Mono ExtraLight"), url("./../assets/fonts/IBMPlexMono-ExtraLight.ttf") format('truetype'), url("./../assets/fonts/IBMPlexMono-ExtraLight.ttf")
  font-style: normal
  font-display: block
  font-weight: 100
