@use './vars' as v
@use 'sass:math'

=thumbcolor
  +v.colordisplaycolor

  background-color: currentColor

input[type=range]
  $size1x1: 1rem
  $trackheight: 0.45rem
  $thumboffset: -#{v.$halfgap - math.div($trackheight, 2)}
  $trackradius: v.$border-radius
  $thumbradius: 50%

  margin: 0
  background-color: transparent
  -webkit-appearance: none
  display: inline-flex
  align-items: center
  position: relative

  &::before
    +thumbcolor

    content: ''
    height: 1px
    margin-bottom: -1px
    position: absolute
    width: 100%

  &::-webkit-slider-runnable-track
    background: transparent
    border-radius: $trackradius
    border: 0
    cursor: pointer
    height: $trackheight
    width: 100%

  &::-webkit-slider-thumb
    +thumbcolor

    margin-top: $thumboffset
    width: $size1x1
    height: $size1x1
    border-radius: $thumbradius
    cursor: pointer
    -webkit-appearance: none

  &:focus::-webkit-slider-runnable-track
    background: transparent

  &::-moz-range-track
    background: transparent
    border-radius: $trackradius
    cursor: pointer
    height: $trackheight
    width: 100%

  &::-moz-range-thumb
    +thumbcolor

    width: $size1x1
    height: $size1x1
    border-radius: $thumbradius
    cursor: pointer
    margin-top: $thumboffset

  &::-ms-track
    background-color: transparent
    border-color: transparent
    color: transparent
    width: 100%
    height: $trackheight
    cursor: pointer
    border-radius: $trackradius

  &::-ms-fill-lower,
  &::-ms-fill-upper
    background: transparent
    border: 0

  &::-ms-thumb
    +thumbcolor

    width: $size1x1
    height: $size1x1
    border-radius: 50px
    cursor: pointer
    margin-top: $thumboffset

  &:focus
    &::-ms-fill-lower,
    &::-ms-fill-upper
      background: transparent