@use 'sass:color' as c
@use '../utils/vars' as v

#colordisplay
  +v.fill

  grid-area: color-display

  .color-display-container
    $lineheight: 1.2

    +v.fill
    +v.colordisplaycolor

    .hex-value-background, .hex-value-foreground
      +v.croptext($lineheight)

      font-family: v.$redhat
      line-height: $lineheight

    .hex-value-foreground
      font-size: 12rem
      font-variation-settings: "wght" 600
      margin-bottom: -1rem

      @media (max-width: v.$breakpoint-tiny)
        font-variation-settings: "wght" 500
        font-size: 8rem

      @media (max-width: v.$breakpoint-miniscule)
        font-size: 6rem

    .hex-value-background
      +v.fontcolor

      font-size: 1.5rem
      opacity: 0.4
