@use '../utils/vars' as v
@use '../utils/range'

#onyx-controls
  +v.fill
  +v.colordisplaycolor

  grid-area: controls

  section
    display: flex
    height: 100%
    align-items: flex-end

    & > *
      flex-grow: 1

  .controls-container
    display: grid
    gap: v.$p-m
    grid-template-rows: repeat(2, auto)

  .controls-container-buttons
    +v.lightmono

  .controls-container-sliders
    +v.lightmono

    display: grid
    grid-template-columns: 1fr 1fr
    gap: v.$p-l

    .controls-header
      font-size: 1.5rem
      margin-bottom: v.$p-m

      button
        +v.destroy

        opacity: 0.6
        cursor: pointer

    .controls-sliders
      display: grid
      grid-template-rows: repeat(3, 1fr)
      gap: v.$p-m

      .slider-container
        display: flex

        flex-direction: column
        gap: v.$p-s
        align-items: flex-start

        input
          flex-grow: 666
          width: 100%

        span
          +v.croptext(1.2)

          font-size: 1rem
          line-height: 1.2rem
          white-space: pre

