@use '../utils/vars' as v

#onyx-drop-target
  +v.fill
  +v.positionzero
  +v.lightmono
  +v.center
  +v.colordisplaycolor
  +v.colordisplaybgfade7
  +v.blurbg

  position: absolute
  z-index: v.$layer-overlay
  font-size: 2rem
  border: 4px dashed currentColor
  pointer-events: none
  user-select: none
  opacity: 0
  text-align: center

  &.drag-over
    transition: opacity 0.2s ease-out
    opacity: 1
