@use 'sass:color' as c
@use '../utils/vars' as v

#onyx-header
  +v.fill

  grid-area: header
  margin-bottom: v.$p-l

  @media (max-width: v.$breakpoint-tiny)
    margin-bottom: v.$p-s

  .border-bottom
    height: 1px
    transform: scaleY(0.25)
    width: 100%
    background-color: currentColor
    display: block

  header
    align-items: center
    display: flex
    flex-direction: row
    gap: v.$halfgap
    padding-bottom: v.$p-s

    b
      flex-grow: 666

    .header-logo
      $size: 2.5rem

      height: $size
      width: $size

    .header-wordmark
      +v.croptext(1)

      font-family: v.$montserrat
      font-size: 1.5rem
      line-height: 1

      .fade
        +v.fadecolor

        @media (max-width: v.$breakpoint-tiny)
          display: none

    .header-status-info
      +v.lightmono

    .clock
      cursor: pointer
