@use '../utils/vars' as v

$grid-area-1: "header header header header"
$grid-area-2: "color-display color-display data previews"
$grid-area-3: "controls controls controls 3d-preview"

main
  +v.big

  display: grid
  gap: v.$p-s
  grid-template-areas: $grid-area-1 $grid-area-2 $grid-area-3
  grid-template-rows: auto 1fr 1fr
  max-width: v.$max-width
  padding: v.$p-s
  z-index: v.$layer-sections
