@use 'sass:color' as c
@use '../utils/vars' as v

#onyx-sidebar
  +v.fill
  +v.colordisplayborderfade12
  +v.colordisplaybgfade7

  border-radius: v.$border-radius

  grid-area: sidebar
  position: relative

  .data-display-container
    +v.fill

  .palette-container
    padding: v.$p-s